pkgbase = sdf-translator-git
	pkgdesc = 将多语言内容快速翻译为简体中文的全局 AI 翻译工具
	pkgver = r13.e653d0a
	pkgrel = 1
	url = https://github.com/GoKo-Son626/sdf
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = wl-clipboard
	depends = zenity
	depends = libnotify
	optdepends = niri: 合成器全局快捷键集成
	optdepends = neovim: 可视选择集成
	optdepends = vim: 可视选择集成
	provides = sdf-translator=r13.e653d0a
	conflicts = sdf-translator
	source = sdf-translator::git+https://github.com/GoKo-Son626/sdf.git
	sha256sums = SKIP

pkgname = sdf-translator-git
